{
    "openapi" : "3.0.1",
    "info" : {
      "title" : "OSINT-X API",
      "description" : "Starting investigations from direct api clients",
      "version" : "1.3.1"
    },
    "servers" : [ {
      "url" : "https://iris.web-iq.com/api",
      "description" : "Production server"
    } ],
    "paths" : {
      "/status" : {
        "get" : {
          "description" : "A JSON object with the key \"status\" and value \"running\" (both without the quotes).",
          "operationId" : "status",
          "responses" : {
            "200" : {
              "description" : "A JSON object with the key \"status\" and value \"running\" (both without the quotes).",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ApiStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/connect" : {
        "post" : {
          "tags" : [ "connect" ],
          "description" : "Start connect investigation to check connections between subjects.",
          "operationId" : "startConnect",
          "requestBody" : {
            "description" : "Connect input with subjects and subject pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/connect/{executionId}" : {
        "get" : {
          "tags" : [ "connect" ],
          "description" : "Retrieves the result of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the subjects, resources (web pages) on which they are mentioned together and 'paths' on social media platforms between them via the accounts as which they have been identified and the relationship between these accounts (e.g. a friendship or follower relationship).",
          "operationId" : "getConnectResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the connect investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ConnectStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/connect/{investigationId}/status" : {
        "get" : {
          "tags" : [ "connect" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getConnectStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/contact/{executionId}" : {
        "get" : {
          "tags" : [ "contact" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph contains the subjects, sameAs edges to suggested persons, which have location, addresses and phone numbers.",
          "operationId" : "getContactResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the contact investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ContactStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/contact" : {
        "post" : {
          "tags" : [ "contact" ],
          "description" : "Start contact investigation to find contact information for subjects.",
          "operationId" : "startContactInvestigation",
          "requestBody" : {
            "description" : "Contact input with subjects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/contact/countries" : {
        "get" : {
          "tags" : [ "contact" ],
          "description" : "Retrieves the countries available for contact investigations",
          "operationId" : "getCountriesForContact",
          "responses" : {
            "200" : {
              "description" : "ISO 3166-1 alpha-2 country codes see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "uniqueItems" : true,
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/contact/test" : {
        "post" : {
          "tags" : [ "contact" ],
          "description" : "Start a test contact investigation. The same results are found and added for each subject.",
          "operationId" : "startTestContactInvestigation",
          "requestBody" : {
            "description" : "Contact input with subjects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/contact/{investigationId}/status" : {
        "get" : {
          "tags" : [ "contact" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getContactStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/cse-risk" : {
        "post" : {
          "tags" : [ "cse-risk" ],
          "description" : "Start CSE Risk online research",
          "operationId" : "startCSERisk",
          "requestBody" : {
            "description" : "A list of one or more subject references, a graph containing those subject(s) and optionally options to enable sub-investigations. A subject is a Person optionally with (annotated) first and last name(s), optionally related to an Account (account id or username is required for social media investigations, username is required for Darknet investigations) and/or a Location.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CSERiskScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Online research ID with which the status or result of the research can be retrieved",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied. Input must contain at least one subject."
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/cse-risk/{executionId}" : {
        "get" : {
          "tags" : [ "cse-risk" ],
          "description" : "Retrieves the status of the execution, a result if finished and successful, an error when finished but failed, null when not yet finished. The result contains a graph with the input subject(s) and related accounts (which may have been enriched) and locations, and additional accounts and related resources and/or occupations resulting from the investigation.",
          "operationId" : "getCSERiskExecutionResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CSERiskStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/cse-risk/{investigationId}/status" : {
        "get" : {
          "tags" : [ "cse-risk" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getCSERiskStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook-account-status-check" : {
        "post" : {
          "tags" : [ "facebook-account-status-check" ],
          "description" : "Facebook account status check using a facebook ID or URL",
          "operationId" : "startFacebookAccountStatusCheck",
          "requestBody" : {
            "description" : "Facebook profile URL or id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "The Facebook account status (one of \"online\", \"suspended\" and \"disabled\") accompanied by the moment the check was performed on Facebook (in milliseconds since epoch)",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook-account-status-check/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-account-status-check" ],
          "operationId" : "getFacebookAccountStatusCheckExecutionResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "The status of the execution, a result if finished and successful, an error when finished but failed, null when not yet finished",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookAccountStatusCheckExecutionStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook-account-status-check/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-account-status-check" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getFacebookAccountStatusCheckExecutionStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/details" : {
        "post" : {
          "tags" : [ "facebook-details" ],
          "description" : "Get details of a Facebook profile.",
          "operationId" : "startDetailsInvestigation",
          "requestBody" : {
            "description" : "Facebook details input containing the url, accountId or username of the profile to retrieve details from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookDetailScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/details/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-details" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the profile and its details.",
          "operationId" : "getDetailsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-details" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/details" : {
        "post" : {
          "tags" : [ "facebook-event" ],
          "description" : "Get details of a Facebook event.",
          "operationId" : "startEventDetailsInvestigation",
          "requestBody" : {
            "description" : "Url of event to extract details from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventDetailScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/details/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the event and its details.",
          "operationId" : "getEventDetailsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getEventDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/posts" : {
        "post" : {
          "tags" : [ "facebook-event" ],
          "description" : "Get posts of a Facebook event.",
          "operationId" : "startEventPostsInvestigation",
          "requestBody" : {
            "description" : "Url of event to extract posts from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventPostsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/posts/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the event and its posts.",
          "operationId" : "getEventPostsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/posts/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getEventPostsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/search" : {
        "post" : {
          "tags" : [ "facebook-event" ],
          "description" : "Search for Facebook events",
          "operationId" : "startEventSearchInvestigation",
          "requestBody" : {
            "description" : "Keywords to be used for searching",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/search/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found events",
          "operationId" : "getEventSearchResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/event/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-event" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getEventSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/friends" : {
        "post" : {
          "tags" : [ "facebook-friends" ],
          "description" : "Start investigation for Facebook friends.",
          "operationId" : "startFacebookFriendsInvestigation",
          "requestBody" : {
            "description" : "Facebook friends input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookFriendsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/friends/test" : {
        "post" : {
          "tags" : [ "facebook-friends" ],
          "description" : "Start a test investigation for Facebook friends.",
          "operationId" : "startTestFacebookFriendsInvestigation",
          "requestBody" : {
            "description" : "Facebook friends input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookFriendsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/friends/{investigationId}" : {
        "get" : {
          "tags" : [ "facebook-friends" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getFacebookFriendsResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/friends/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-friends" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getFacebookFriendsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/details" : {
        "post" : {
          "tags" : [ "facebook-group" ],
          "description" : "Get details of a Facebook group.",
          "operationId" : "startGroupDetailsInvestigation",
          "requestBody" : {
            "description" : "Url of group to extract details from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupDetailScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/details/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the group and its details.",
          "operationId" : "getGroupDetailsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the facebook investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getGroupDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/posts" : {
        "post" : {
          "tags" : [ "facebook-group" ],
          "description" : "Get posts of a Facebook group.",
          "operationId" : "startGroupPostsInvestigation",
          "requestBody" : {
            "description" : "Url of Facebook group to extract posts from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupPostsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/posts/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the group and its posts.",
          "operationId" : "getGroupPostsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/posts/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getGroupPostsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/search" : {
        "post" : {
          "tags" : [ "facebook-group" ],
          "description" : "Search for Facebook groups",
          "operationId" : "startGroupSearchInvestigation",
          "requestBody" : {
            "description" : "Keywords to be used for searching",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/search/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found groups",
          "operationId" : "getGroupSearchResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/group/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-group" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getGroupSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/details" : {
        "post" : {
          "tags" : [ "facebook-page" ],
          "description" : "Get details of a Facebook page.",
          "operationId" : "startPageDetailsInvestigation",
          "requestBody" : {
            "description" : "Facebook page details input containing the url of the page to retrieve details from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageDetailScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/details/{executionId}" : {
        "get" : {
          "tags" : [ "facebook-page" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the page and its details.",
          "operationId" : "getPageDetailsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-page" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getPageDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/search" : {
        "post" : {
          "tags" : [ "facebook-page-search" ],
          "description" : "Start Facebook page search investigation.",
          "operationId" : "startFacebookPageSearchInvestigation",
          "requestBody" : {
            "description" : "Facebook page search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookPageSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/search/{investigationId}" : {
        "get" : {
          "tags" : [ "facebook-page-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found pages",
          "operationId" : "getFacebookPageSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/page/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-page-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getFacebookPageSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/profile/search" : {
        "post" : {
          "tags" : [ "facebook-profile-search" ],
          "description" : "Start Facebook profile search investigation.",
          "operationId" : "startFacebookProfileSearchInvestigation",
          "requestBody" : {
            "description" : "Facebook profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/profile/search/test" : {
        "post" : {
          "tags" : [ "facebook-profile-search" ],
          "description" : "Start a test Facebook profile search investigation.",
          "operationId" : "startFacebookTestProfileSearchInvestigation",
          "requestBody" : {
            "description" : "Facebook profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacebookProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/profile/search/{investigationId}" : {
        "get" : {
          "tags" : [ "facebook-profile-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getFacebookProfileSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/FacebookStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/facebook/profile/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "facebook-profile-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getFacebookProfileSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/google/search/{investigationId}" : {
        "get" : {
          "tags" : [ "google-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found pages",
          "operationId" : "getGoogleSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GoogleStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/google/search" : {
        "post" : {
          "tags" : [ "google-search" ],
          "description" : "Start Google search investigation.",
          "operationId" : "startGoogleSearchInvestigation",
          "requestBody" : {
            "description" : "Google search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GoogleSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/details" : {
        "post" : {
          "tags" : [ "instagram-profile-details" ],
          "description" : "Get details of an Instagram profile.",
          "operationId" : "startProfileDetailsDetailsInvestigation",
          "requestBody" : {
            "description" : "Instagram profile details input with Instagram account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstagramProfileDetailsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/details/{executionId}" : {
        "get" : {
          "tags" : [ "instagram-profile-details" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the profile and its details.",
          "operationId" : "getProfileDetailsResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the Instagram investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InstagramStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "instagram-profile-details" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getProfileDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/search" : {
        "post" : {
          "tags" : [ "instagram-profile-search" ],
          "description" : "Start Instagram profile search investigation.",
          "operationId" : "startInstagramSearchInvestigation",
          "requestBody" : {
            "description" : "Instagram profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstagramProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/search/{investigationId}" : {
        "get" : {
          "tags" : [ "instagram-profile-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getInstagramProfileSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InstagramStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/instagram/profile/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "instagram-profile-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getInstagramProfileSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/details" : {
        "post" : {
          "tags" : [ "linkedin-details" ],
          "description" : "Get details of a LinkedIn profile.",
          "operationId" : "startDetailsInvestigation_1",
          "requestBody" : {
            "description" : "LinkedIn details input containing the url or username of the profile to retrieve details from",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkedInDetailScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/details/{executionId}" : {
        "get" : {
          "tags" : [ "linkedin-details" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the profile and its details.",
          "operationId" : "getDetailsResult_1",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/LinkedInStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "linkedin-details" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getDetailsStatus_1",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/profile/search" : {
        "post" : {
          "tags" : [ "linkedin-profile-search" ],
          "description" : "Start LinkedIn profile search investigation.",
          "operationId" : "startLinkedInProfileSearchInvestigation",
          "requestBody" : {
            "description" : "LinkedIn profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkedInProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/profile/search/{investigationId}" : {
        "get" : {
          "tags" : [ "linkedin-profile-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getLinkedInProfileSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/LinkedInStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/profile/search/test" : {
        "post" : {
          "tags" : [ "linkedin-profile-search" ],
          "description" : "Start a test LinkedIn profile search investigation.",
          "operationId" : "startLinkedInTestProfileSearchInvestigation",
          "requestBody" : {
            "description" : "LinkedIn profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkedInProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/linkedin/profile/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "linkedin-profile-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getLinkedInProfileSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/risk/locales/{locale}/categories" : {
        "get" : {
          "tags" : [ "risk" ],
          "description" : "Retrieves the risk categories available for a locale",
          "operationId" : "getCategories",
          "parameters" : [ {
            "name" : "locale",
            "in" : "path",
            "description" : "The locale for which the risk categories should be listed.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "The risk categories available with this locale",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "uniqueItems" : true,
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "404" : {
              "description" : "Invalid locale supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/risk/locales" : {
        "get" : {
          "tags" : [ "risk" ],
          "description" : "Retrieves the locales available for risk investigations",
          "operationId" : "getLocales",
          "responses" : {
            "200" : {
              "description" : "Locales with language and region sub tags as defined in https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry (but in all upper case).",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "uniqueItems" : true,
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/risk/{executionId}" : {
        "get" : {
          "tags" : [ "risk" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the subjects, resources (web pages) on which they are mentioned with risks.",
          "operationId" : "getRiskResult",
          "parameters" : [ {
            "name" : "executionId",
            "in" : "path",
            "description" : "The executionId returned by the start of the risk investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/RiskStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/risk" : {
        "post" : {
          "tags" : [ "risk" ],
          "description" : "Start risk investigation to check risks of subjects.",
          "operationId" : "startInvestigation",
          "requestBody" : {
            "description" : "Risk input with subjects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RiskScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/risk/{investigationId}/status" : {
        "get" : {
          "tags" : [ "risk" ],
          "description" : "Retrieves whether the execution of the investigation has completed, erroneously or successfully.",
          "operationId" : "getRiskStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/details" : {
        "post" : {
          "tags" : [ "tiktok-profile-details" ],
          "description" : "Start TikTok details investigation.",
          "operationId" : "startTiktokDetailsInvestigation",
          "requestBody" : {
            "description" : "TikTok details input with account information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TiktokProfileDetailsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/details/{investigationId}" : {
        "get" : {
          "tags" : [ "tiktok-profile-details" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the details of the account",
          "operationId" : "getTiktokProfileDetailsResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TiktokStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "tiktok-profile-details" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getTiktokProfileDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/search" : {
        "post" : {
          "tags" : [ "tiktok-profile-search" ],
          "description" : "Start TikTok profile search investigation.",
          "operationId" : "startTiktokSearchInvestigation",
          "requestBody" : {
            "description" : "TikTok profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TiktokProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/search/{investigationId}" : {
        "get" : {
          "tags" : [ "tiktok-profile-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getTiktokProfileSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TiktokStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/tiktok/profile/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "tiktok-profile-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getInstagramProfileSearchStatus_1",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/web/search" : {
        "post" : {
          "tags" : [ "web-search" ],
          "description" : "Start Web search investigation.",
          "operationId" : "startWebSearchInvestigation",
          "requestBody" : {
            "description" : "Web search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/web/search/{investigationId}" : {
        "get" : {
          "tags" : [ "web-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found pages",
          "operationId" : "getWebSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/WebSearchStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/details" : {
        "post" : {
          "tags" : [ "youtube-profile-details" ],
          "description" : "Start YouTube details investigation.",
          "operationId" : "startYoutubeDetailsInvestigation",
          "requestBody" : {
            "description" : "YouTube details input with account information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/YoutubeProfileDetailsScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/details/{investigationId}" : {
        "get" : {
          "tags" : [ "youtube-profile-details" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the details of the account",
          "operationId" : "getYoutubeProfileDetailsResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/YoutubeStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/details/{investigationId}/status" : {
        "get" : {
          "tags" : [ "youtube-profile-details" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getYoutubeProfileDetailsStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/search/{investigationId}" : {
        "get" : {
          "tags" : [ "youtube-profile-search" ],
          "description" : "Retrieves the status of the investigation. This contains a result if finished successfully, an error when failed or neither when not yet finished. The result is a graph containing the found profiles",
          "operationId" : "getYoutubeProfileSearchResult",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "description" : "The investigationId returned by the start of the investigation.",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/YoutubeStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/search/{investigationId}/status" : {
        "get" : {
          "tags" : [ "youtube-profile-search" ],
          "description" : "Retrieves whether the execution of the investigation has completed successfully.",
          "operationId" : "getYoutubeProfileSearchStatus",
          "parameters" : [ {
            "name" : "investigationId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string",
              "format" : "uuid"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "default response",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/InvestigationStatus"
                  }
                }
              }
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      },
      "/youtube/profile/search" : {
        "post" : {
          "tags" : [ "youtube-profile-search" ],
          "description" : "Start YoutTube profile search investigation.",
          "operationId" : "startYoutubeSearchInvestigation",
          "requestBody" : {
            "description" : "YouTube profile search input with subject information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/YoutubeProfileSearchScope"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Execution started identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ExecutionStarted"
                  }
                }
              }
            },
            "400" : {
              "description" : "Invalid input supplied"
            }
          },
          "security" : [ {
            "basicAuth" : [ ]
          } ]
        }
      }
    },
    "components" : {
      "schemas" : {
        "ApiStatus" : {
          "type" : "object",
          "properties" : {
            "status" : {
              "type" : "string"
            }
          }
        },
        "ExecutionStarted" : {
          "type" : "object",
          "properties" : {
            "executionId" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "description" : "Response with an executionId which is a token for retrieving the result of an investigation."
        },
        "Account" : {
          "type" : "object",
          "description" : "An (online) account, e.g. on a social media platform.",
          "allOf" : [ {
            "$ref" : "#/components/schemas/Identity"
          }, {
            "type" : "object",
            "properties" : {
              "accountId" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/AccountId"
                }
              },
              "userName" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/UserName"
                }
              },
              "screenName" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/ScreenName"
                }
              },
              "firstActivity" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/DateTimestamp"
                }
              },
              "lastActivity" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/DateTimestamp"
                }
              },
              "avatar" : {
                "type" : "array",
                "description" : "Use HasAvatar edges instead.",
                "deprecated" : true,
                "items" : {
                  "$ref" : "#/components/schemas/Content"
                }
              },
              "bio" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Description"
                }
              },
              "connectionCount" : {
                "type" : "array",
                "description" : "Connections count, indicating the number of bi-directional connections of this account. So connections where A follows B and B follows A, where A is this account. It is not the sum of followerCount anf followingCount.",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "followerCount" : {
                "type" : "array",
                "description" : "Followers count, indicating the number of uni-directional connections where this account is the destination vertex. So a connection where B follows A, but A does not follow B, where A is this account",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "followingCount" : {
                "type" : "array",
                "description" : "Following count, indicating the number of uni-directional connections where this account is the starting vertex. So a connection where A follows B, but B does not follow A, where A is this account",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "commentCount" : {
                "type" : "array",
                "description" : "Comment count, indicating the number of comments published by this account.",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "postCount" : {
                "type" : "array",
                "description" : "Post count, indicating the number of posts published by this account.",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "albumCount" : {
                "type" : "array",
                "description" : "Album count, indicating the number of albums created by this account.",
                "items" : {
                  "$ref" : "#/components/schemas/CounterValue"
                }
              },
              "status" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/AccountStatus"
                }
              },
              "visibility" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/AccountVisibility"
                }
              }
            }
          } ]
        },
        "AccountId" : {
          "required" : [ "value" ],
          "type" : "object",
          "properties" : {
            "value" : {
              "type" : "string"
            }
          },
          "description" : "A system oriented account identifier, e.g. '42' or '775005d4-5dca-466a-87e2-013af5958da9'."
        },
        "AccountOn" : {
          "type" : "object",
          "description" : "Indicates that an Account is active in a particular environment (e.g. facebook), e.g. because it is registered there, or can publish content, etc. Typically this would be a website.",
          "allOf" : [ {
            "$ref" : "#/components/schemas/Edge"
          } ]
        },
        "AccountStatus" : {
          "type" : "object",
          "properties" : {
            "value" : {
              "type" : "string",
              "enum" : [ "ONLINE", "OFFLINE", "NOT_FOUND" ]
            }
          }
        },
        "AccountVisibility" : {
          "type" : "object",
          "properties" : {
            "value" : {
              "type" : "string",
              "enum" : [ "PUBLIC", "PRIVATE" ]
            }
          }
        },
        "Address" : {
          "required" : [ "_type" ],
          "type" : "object",
          "properties" : {
            "_type" : {
              "type" : "string"
            }
          },
          "description" : "An address as either an (opaque) address string or as an annotated address; that is, a list of strings, each annotated with its role in the address (e.g. street, locality or country).",
          "discriminator" : {
            "propertyName" : "_type"
          }
        },
        "AddressElement" : {
          "type" : "object",
          "properties" : {
            "role" : {
              "type" : "string",
              "description" : "The various roles for elements in an AnnotatedAddress.",
              "enum" : [ "STREET_NAME", "HOUSE_NUMBER_PART", "STREET_ADDRESS", "POSTAL_CODE", "LOCALITY", "PROVINCE", "STATE", "COUNTRY_NAME", "COUNTRY_CODE" ]
            },
            "value" : {
              "type" : "string"
            }
          },
          "description" : "An element in an AnnotatedAddress: a string labeled with a specific 'role', e.g. STREET_NAME."
        },
        "AddressString" : {
          "type" : "object",
          "description" : "An address string of which the elements (tokens) aren't annotated. Use an AnnotatedAddress when more information is available, e.g. a separate street address, postal code and locality.",
          "allOf" : [ {
            "$ref" : "#/components/schemas/Address"
          }, {
            "type" : "object",
            "properties" : {
              "value" : {
                "type" : "string"
              }
            }
          } ]
        },
        "AnnotatedAddress" : {
          "type" : "object",
[...]
